.effect-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

/* Hearts floating */
.heart {
    position: absolute;
    font-size: 30px;
    animation: floatUp 3s linear infinite;
}

.heart:nth-child(1) {
    left: 20%;
    top: 70%;
}

.heart:nth-child(2) {
    left: 50%;
    top: 75%;
}

.heart:nth-child(3) {
    left: 75%;
    top: 72%;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-200px) scale(1.5);
        opacity: 0;
    }
}


/* Confetti */
.confetti {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 100%;
    animation: drop 1.8s linear infinite;
}

.confetti:nth-child(4) {
    left: 10%;
    background: #ff6b6b;
}

.confetti:nth-child(5) {
    left: 50%;
    background: #00d4ff;
}

.confetti:nth-child(6) {
    left: 80%;
    background: #ffbb00;
}

@keyframes drop {
    0% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-150vh) rotate(360deg);
        opacity: 0;
    }
}


/* Balloons */
.balloon {
    width: 45px;
    height: 60px;
    border-radius: 50% 50% 40% 40%;
    position: absolute;
    animation: rise 5s ease-in infinite;
}

.red {
    background: #ff4d4d;
    left: 15%;
    bottom: -80px;
}

.blue {
    background: #4db8ff;
    left: 45%;
    bottom: -80px;
}

.green {
    background: #4dff88;
    left: 75%;
    bottom: -80px;
}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}


/* Fireworks */
.firework {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: explode 1.3s ease-out infinite;
    background: radial-gradient(circle, white, transparent);
}

.fire1 {
    left: 20%;
    top: 30%;
}

.fire2 {
    left: 50%;
    top: 20%;
}

.fire3 {
    left: 75%;
    top: 35%;
}

@keyframes explode {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(12);
        opacity: 0;
    }
}


/* Button */
.celebrate-btn {
    padding: 14px 28px;
    font-size: 20px;
    background: #ff0077;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.cake-img {
    width: 70%;
    max-width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 600px) {
    .heart {
        font-size: 22px;
    }

    .balloon {
        width: 30px;
        height: 40px;
    }
}